<?php
if (empty($_app)) $_app=array();
if (empty($_globals)) $_globals=array();

// --------------------------------
// the "classic" assets web accessible directory
if (empty($assets)) {
    $assets = $_template->getAssetsLoader()->getAssetsWebPath();
}
if (strlen($assets)) {
    $assets = rtrim($assets, '/').'/';
}

$sv_css = \TemplateEngine\TemplateEngine::getInstance()
    ->getAssetsLoader()->findInPackage('css/styles.css', 'carte-blanche/bundle-simpleviewer');
$_template->getTemplateObject('CssFile')->add($sv_css);

_use('jquery');

_render(getContainer()->get('locator')->locateView(\CarteBlanche\App\Abstracts\AbstractController::$template));
?>